.ctaBtn {
  // width: min(100%, 455px);
  display: flex;
  justify-content: space-between;
  padding: clamp(13.5px, 0.57vw + 11.277px, 20px) clamp(30px, 0.87vw + 26.607px, 40px);
  border-radius: 50px;
  align-items: center;
  background-color: $main-color;
  color: #fff;
  transition: all 0.3s;

  &::after {
    content: "";
    display: block;
    width: clamp(12.32px, 0.59vw + 10.019px, 19.07px);
    aspect-ratio: 0.9168269230769231;
    background: url(../../assets/img/global/arrow-white.svg) no-repeat center / cover;
    transition: all 0.3s;
  }
  &:hover {
    opacity: 0.7;
    &::after {
      translate: 12px 0;
    }
  }
}
