.ctaBtn {
  display: flex;
  justify-content: space-between;
  padding: clamp(20px, 0.7vw + 17.27px, 28px) clamp(30px, 0.87vw + 26.607px, 40px);
  border-radius: 50px;
  align-items: center;
  background-color: $main-color;
  color: #fff;
  transition: all 0.3s;
  font-size: clamp(22px, 1.22vw + 17.242px, 36px);
  line-height: 1;
  &::after {
    content: "";
    display: block;
    width: clamp(20px, 0.7vw + 17.27px, 28px);
    // width: 50px;
    aspect-ratio: 0.9168269230769231;
    background: url(../../assets/img/global/arrow-white.svg) no-repeat center / cover;
    transition: all 0.3s;
  }
  &:hover {
    opacity: 0.7;
    &::after {
      translate: 12px 0;
    }
  }
}
