.Mv {
  width: 100%;
  height: 100vh;
  position: relative;
  isolation: isolate;
  margin-bottom: clamp(261px, 2.79vw + 250.119px, 293px);
  .loadingOverlay {
    width: 100%;
    height: calc(100vh + clamp(261px, 2.79vw + 250.119px, 293px));
    // background-color: $main-color;
    background-color: rgb(52, 250, 79);
    position: absolute;
    inset: auto auto calc(clamp(261px, 2.79vw + 250.119px, 293px) * -1) 0;
    z-index: 10;
    pointer-events: none;
  }
  .mvInner {
    width: 88%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 116.1px 0 0;
    @include res($bp: 389px) {
      width: clamp(356.96px, 97.65vw + -23.875px, 1476px);
    }
    @include res {
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 0 7vh;
    }
    .siteTitle {
      width: clamp(356.96px, 39.29vw + 203.729px, 958.09px);
      position: relative;
      isolation: isolate;
      img {
        padding-top: 18vh;
        display: block;
        @include res {
          padding-top: 0;
        }
      }
      .titleStar {
        width: clamp(231.62px, 27.19vw + 125.579px, 543.19px);
        position: absolute;
        z-index: -1;
        inset: auto 0 0 auto;
        transform: translate(35%, 35%);
        @include res {
          inset: auto auto 0 0;
          transform: translate(-25%, 23%);
        }
      }
    }
  }
  .mvBg {
    width: clamp(596.13px, 115.87vw + 144.237px, 1923.96px);
    height: clamp(657.7797px, 5.2vw + 637.5px, 717.4px);
    position: absolute;
    inset: 116.1px auto auto 50%;
    transform: translateX(calc(-50% + 7vw));
    z-index: -1;
    @include res {
      top: clamp(91.9px, 17.19vw + -172.138px, 157.9px);
      transform: translateX(calc(-50% - 0.18vw));
    }
    .mvImg01 {
      width: clamp(404px, 46.8vw + 221.48px, 940.31px);
      position: absolute;
      inset: clamp(23px, 2.88vw + 11.768px, 56px) auto auto 0;
      @include res {
        translate: 0 -6%;
      }
      .mvImgText {
        width: calc(100% * 1.137699269389882);
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        path {
          width: 100%;
          height: 100%;
        }
      }
      .mvBgStarLT {
        width: clamp(290.72px, 24.67vw + 194.507px, 573.48px);
        position: absolute;
        z-index: -1;
        inset: 0 auto auto 0;
        transform: translate(10%, -46%);
        @include res {
          transform: translate(14%, -38%) rotate(60deg);
        }
      }
    }
    .mvImg02 {
      width: clamp(362.24px, 20.47vw + 282.407px, 596.82px);
      position: absolute;
      inset: auto clamp(36px, 1.48vw + 30.228px, 53px) clamp(24px, 1.05vw + 19.905px, 36px) auto;
      @include res {
        translate: 0 20%;
        z-index: -1;
      }
      .mvImgText {
        // width: calc(100% * 1.186823497872055);
        width: 115%;
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        @include res {
          width: clamp(429.92px, 24.29vw + 335.189px, 708.32px);
        }
      }
    }
    .mvBgStarFree {
      width: clamp(149.27px, 51.11vw + -50.059px, 735px);
      position: absolute;
      z-index: -1;
      inset: auto auto 0 0;
      transform: translate(90%, -10%);
      @include res {
        inset: 0 0 auto auto;
        transform: translate(10%, -30%);
      }
      .dropPc {
        width: 205.36px;
        position: absolute;
        z-index: -2;
        inset: 0 auto auto 0;
        transform: translate(-30%, 90%);
        display: none;
        @include res {
          display: block;
        }
      }
    }
    .drop {
      width: clamp(84.1px, 14.86vw + 26.146px, 254.43px);
      position: absolute;
      z-index: -1;
      inset: auto 0 0 auto;
      transform: translate(-136%, 54%);
      @include res {
        inset: auto auto 0 0;
        transform: translate(48%, 65%);
      }
    }
  }
}

.textPath {
  font-size: 41.2px;
  font-family: $font-dela, sans-serif;
  fill: #333;
  letter-spacing: 1;
  &.small {
    font-size: 29px;
    &.pc {
      display: none;
    }
    @include res {
      font-size: 38px;
      &.pc {
        display: block;
      }
      &.sp {
        display: none;
      }
    }
  }
}
