.menu {
  overflow-x: clip;
  margin-bottom: clamp(114px, 3.14vw + 101.754px, 150px);
  .sectionTitle {
    @include sectionTitle($mb: clamp(32px, 3.14vw + 19.754px, 68px));
    flex-direction: column;
    align-items: center;
    .sTitleContainer {
      display: flex;
      gap: clamp(14px, 1.57vw + 7.877px, 32px);
    }
  }
  .wrap {
    width: min(87%, 1200px);
    margin: 0 auto;
    .menuContent {
      display: flex;
      flex-direction: column;
      gap: 96.3px 0;
      @include res {
        flex-direction: row;
        align-items: center;
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
      &:not(:last-child) {
        margin-bottom: 100px;
        @include res {
          margin-bottom: 0;
        }
      }
      &.mc01 {
        .menuContentImg {
          translate: 8% 0;
          @include res {
            translate: 15vw 0;
          }
          .img {
            width: clamp(406.62px, 39.27vw + 253.467px, 856.71px);
            translate: -50% -55%;
          }
        }
      }
      &.mc02 {
        margin-bottom: clamp(80px, 2.62vw + 69.782px, 110px);
        .menuContentImg {
          translate: -22% 0;
          @include res {
            translate: -15vw 0;
          }

          .img {
            width: clamp(296px, 21.9vw + 210.59px, 547px);
            translate: -20% -50%;
          }
        }
      }
      .menuContentImg {
        position: relative;
        isolation: isolate;
        .img {
          position: absolute;
          inset: 50% auto auto 50%;
          translate: -50% -50%;
        }
        .bg {
          width: clamp(371px, 36.04vw + 230.444px, 784px);
          height: clamp(353px, 33.77vw + 221.297px, 740px);
        }
      }
      .menuDescContainer {
        .addService {
          width: min(100%, 383px);
          height: 56px;
          margin-top: 34px;
          display: grid;
          place-items: center;
          border: 2px solid $main-color;
          color: $main-color;
          font-size: 18px;
          font-weight: 900;
          border-radius: 50px;
        }
        .note {
          margin-top: 16px;
          font-size: 14px;
          line-height: 1;
          font-weight: 800;
        }
      }
    }
  }
}
