.commitment {
  overflow-x: clip;
  .sectionInner {
    width: clamp(342px, 98.95vw + -43.905px, 1476px);
    margin: 0 auto;
    .commitmentTitle {
      display: flex;
      flex-direction: column;
      gap: clamp(25px, 2.36vw + 15.796px, 52px) 0;
      font-weight: normal;
      color: $main-color;
      letter-spacing: normal;
      width: fit-content;
      margin: 0 auto clamp(40px, 3.49vw + 26.389px, 80px);
      @include res($bp: 1199px) {
        align-items: center;
        width: auto;
        margin: 0 0 clamp(40px, 3.49vw + 26.389px, 80px);
      }
      .titleJp {
        font-size: clamp(64px, 10.3vw + 23.83px, 182px);
        text-wrap: nowrap;
        position: relative;
        isolation: isolate;
        .star {
          width: clamp(290px, 21.29vw + 206.969px, 534px);
          position: absolute;
          inset: -94% auto auto -27%;
          z-index: -1;
          display: grid;
          place-items: center;
          @include res {
            inset: -90% auto auto -10%;
          }
        }
        .titleTextContent {
          display: block;
          &:last-child {
            padding-left: 1em;
            position: relative;
            .titleDrop {
              display: block;
              width: clamp(35px, 7.16vw + 7.076px, 117px);
              height: clamp(43px, 8.9vw + 8.29px, 145px);
              position: absolute;
              inset: auto -1% -32% auto;
              display: grid;
              place-items: center;
              @include res {
                inset: auto -1% -39% auto;
              }
              @include res($bp: 1199px) {
                inset: auto -2% -13% auto;
              }
              img {
                height: 100%;
                object-fit: cover;
              }
            }
          }
          @include res($bp: 1199px) {
            display: inline;
            &:last-child {
              padding-left: 0;
            }
          }
        }
      }
      .titleEn {
        font-size: clamp(22px, 5.06vw + 2.266px, 80px);
        .titleTextContent {
          display: block;
          &:last-child {
            padding-left: 3em;
          }

          @include res($bp: 1199px) {
            display: inline;
            margin-right: 20px;
            &:last-child {
              padding-left: 0;
            }
          }
        }
      }
    }
    .commitmentContentList {
      display: flex;
      flex-direction: column;
      gap: 14px 16px;
      @include res($bp: 1199px) {
        flex-direction: row;
      }
      .commitmentItem {
        mask: url(../../../assets/img/commitment/mask.svg) no-repeat center / 100% 100%;
        padding: clamp(70px, 2.44vw + 60.484px, 98px) 0 clamp(67px, 4.89vw + 47.929px, 123px);
        flex: 1;
        background-color: #fff;
        &:first-child {
          translate: calc((50vw - 50%) + 5vw) 0;
          @include res($bp: 1199px) {
            translate: 0;
          }
        }
        &:nth-child(2) {
          translate: calc(((50vw - 50%) + 5vw) * -1) 0;
          @include res($bp: 1199px) {
            translate: 0 80px;
          }
        }
        &:last-child {
          translate: calc((50vw - 50%) + 5vw) 0;
          @include res($bp: 1199px) {
            translate: 0;
          }
        }
        .commitmentItemTitle {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: clamp(30px, 1.4vw + 24.54px, 46px) 0;
          margin: 0 auto clamp(40px, 2.62vw + 29.782px, 70px);
          position: relative;
          font-weight: normal;
          isolation: isolate;
          .commitmentItemTitleNum {
            width: clamp(109.23px, 3.86vw + 94.176px, 153.49px);
            font-size: clamp(54px, 2.27vw + 45.147px, 80px);
            text-align: center;
            padding: clamp(17px, 0.26vw + 15.986px, 20px) 0;
            border-radius: 50%;
            background-color: $main-color;
            color: #fff;
            text-box: trim-both cap alphabetic;
          }
          .commitmentItemTitleText {
            font-size: clamp(38px, 1.4vw + 32.54px, 54px);
            color: $main-color;
          }
          .commitmentItemTitleStar {
            display: block;
            width: clamp(110px, 3.93vw + 94.673px, 155px);
            position: absolute;
            inset: auto auto -20% -2em;
            z-index: -1;
          }
        }
        .commitmentItemText {
          width: clamp(230px, 2.62vw + 219.782px, 260px);
          margin: 0 auto;
          p {
            font-size: clamp(14px, 0.17vw + 13.337px, 16px);
            letter-spacing: normal;
            &:first-child {
              margin-bottom: clamp(16px, 0.87vw + 12.607px, 26px);
            }
          }
        }
      }
    }
  }
}
