.header {
  width: 100%;
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 1000;
  .headerBar {
    width: 100%;
    height: 40px;
    background-color: $main-color;
    margin-bottom: clamp(9px, 0.62vw + 6.675px, 16px);
    overflow-x: clip;
    display: flex;
    align-items: center;
    .hBarImg {
      width: fit-content;
      height: 15px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      animation: h-bar 30s infinite linear;
      // translate: -100% 0;
      li {
        width: calc(227px + 11px);
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 11px;
        img {
          height: 102%;
          object-fit: cover;
        }
      }
    }
  }
  .headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(24px, 0.52vw + 21.972px, 30px);
    .logo {
      width: clamp(196.75px, 5.9vw + 173.74px, 287px);
    }
    .globalNav {
      display: none;
    }
    .bBtn {
      display: block;
      width: clamp(76.64px, 2.2vw + 68.06px, 110.24px);
      aspect-ratio: 1.56524208433906;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      color: #fff;
      font-size: clamp(12px, 0.39vw + 10.479px, 18px);
      z-index: 10;
      transition: all 0.1s;
      position: relative;
      .bBtnBg {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        path {
          transition: all 0.3s;
        }
      }
      &:hover {
        color: $main-color;
        .bBtnBg {
          path {
            fill: $base-color;
          }
        }
      }
    }
  }
}

@keyframes h-bar {
  100% {
    translate: -100% 0;
  }
}
