html {
  scroll-behavior: smooth;
}
/************** 以下リセット *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.7;
  letter-spacing: 0.06em;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
  vertical-align: bottom;
}
video {
  width: 100%;
  vertical-align: bottom;
}
/**********************************/

main {
  overflow-x: clip;
}
section {
  scroll-margin-top: 120px;
}

.f-dela {
  font-family: $font-dela, sans-serif;
}
.f-modak {
  font-family: $font-modak, sans-serif;
}

.spBr {
  @include res {
    display: none;
  }
}

/***********/
/* ステータスバー透過防止 */
.for-status-bars {
  position: fixed;
  top: 0;
  pointer-events: none;
  height: 5px;
  width: 100%;
  background-color: #ff5206;
  mix-blend-mode: lighten;
}

/* タブバー透過防止 */
.for-tab-bars {
  position: fixed;
  bottom: 0;
  pointer-events: none;
  height: 4px;
  width: 100%;
  background-color: #ff5206;
  mix-blend-mode: lighten;
}
